#map{
  position:relative;
  z-index:1;
  height: 90%;
}

  #legend {
    background: white;
    padding: 10px;
    font-family: Arial, sans-serif;
        background: #fff;
        padding: 10px;
        margin: 10px;
        border: 3px solid #000;
      }
      #legend h3 {
        margin-top: 0;
        color: black;
      }
      #legend img {
        vertical-align: middle;
  }


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}


.navbar-nav{
  position: absolute;top: 7px;  left: 100px;
font-size: 25px;


}

.container-fluid {
   background-color: #B4CDCD;
}

.navbar-brand{
  position: absolute;top: 7px;right: 8px; z-index: 12;
}


#wrapper { position: relative; }

#over_map { position: absolute; top: 100px; right: 7px; z-index: 99; background-color: #B4CDCD;}
/*#ovr_map {position: absolute;top: 15px; left:15px; z-index:99;*/
}
